body {
    background-image: url('../assets/home/background-home-mobile.jpg');
}


.home {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.home-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 4rem;

    & .column-left {
        flex-direction: column;
        min-width: 100%;
    }

    & .column-right {
        min-width: 100%;
        justify-content: center;
    }
}

  // Media query for tablet and desktop
  @media only screen and (min-width: 992px) {

    body {
        background-image: url('../assets/home/background-home-desktop.jpg');
    }

    .home-container {
        align-items: center;
        text-align: left;
        justify-content: center;
        row-gap: 4rem;

        & .column-left {
            width: 50%;
            padding-right: 10%;
            flex-direction: column;
        }

        & .column-right {
            width: 50%;
            justify-content: flex-end;
        }
    }

  }