.round-button-large {
    background-color: $color-white;
    border: 0px solid;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    letter-spacing: 0.2rem;
    font-family: $font-stack-serif;
    text-transform: uppercase;
}

// Media query for tablet and desktop
@media only screen and (min-width: 992px) {

    .round-button-large {
        width: 274px;
        height: 274px;
    }

}