.hamburguer {
    display: inline-block;
    background-color: transparent;
    border: 0px;
}

.site-header {

    img {
        padding-inline: 1rem;
    }

    &__divider {
        display: none;
    }

    &__nav {
        display: none;
    }
}

// Media query for tablet and desktop
  @media only screen and (min-width: 600px) {

    .site-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 96px;
    
        &__divider {
            min-width: 30%;
            height: 1px;
            background-color: $color-white;
            opacity: 0.25;
            margin-right: -40px;
        }
    
        &__nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: $color-white-transparent;
            width: 60%;
    
            & ul {
                display: flex;
                flex-direction: row;
                gap: 4rem;
                justify-content: flex-end;
            }
    
        }

    }

  }

.hamburguer {
    display: none;
}