/* -----------------------------*/
/* INDEX - GRID CONTAINERS      */
/* -----------------------------*/
/* 1. Containers                */
/* 2. Home Containers           */
/* 3. Destination Containers    */
/* -----------------------------*/

/* -----------------------------*/
/* 1. Containers                */
/* -----------------------------*/

.container {
    padding-inline: 2em; /* shorthand property used to set the padding on the left and right sides of an element's content area */
    margin-inline: auto; /* shorthand property used to set the margin on the left and right sides of an element. Because it's set to auto here, it will center the container in the page */
    max-width: 1100px;
    min-height: calc(100vh - 136px);
    margin: auto;
}

.grid-container {
    display: grid;
    text-align: center;
    /*  place-items is a shorthand property used to set both the align-items and justify-items properties simultaneously for all the items inside a grid or flex container. These properties control the alignment of items along the vertical and horizontal axes, respectively. */
    place-items: center;
    padding-inline: 2rem;

    &-span {
        grid-column-start: 2;
        grid-column-end: 4;

    }

}

/* styles for tablet devices */
@media (min-width: 700px) and (max-width: 991px) {
    /* styles for tablet devices */

    .grid-container {
        & p {
            max-width: 70vw;
        }
    }
    
  }

 /* styles for desktop devices */
 @media (min-width: 992px) {
    /* styles for desktop devices */
  
    .grid-container {
        grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(2rem, 1fr);
        gap: 2rem;
        text-align: left;
    
        & > *:first-child {
            grid-column: 2;
        }
    
        & > *:last-child {
            grid-column: 3;
            
        }

    }
  
  }

/* -----------------------------*/
/* 2. Home Containers           */
/* -----------------------------*/

 /* styles for desktop devices */
 @media (min-width: 992px) {
    /* styles for desktop devices */

    .home .grid-container {
        padding-bottom: max(6rem, 20vh);
        align-items: end;
    }

  
  }

/* -----------------------------*/
/* 3. Destination Containers    */
/* -----------------------------*/

.destination .grid-container {
    grid-template-areas:
        'title'
        'image'
        'tabs'
        'content';

        padding-bottom: 2rem;

        & .numbered-title {
            grid-area: title;
        }

        & img {
            grid-area: image;
            max-width: 80%;
            margin-top: 2rem;
        }

        & .tab-list {
            grid-area: tabs;
        }

        & .destination-info {
            grid-area: content;
        }

        & .destination-data {
            flex-direction: column;
            border-top: 1px solid rgba(255, 255, 255, .25);
            margin-top: 2rem;
            padding-top: 2rem;
            gap: 1rem;

            & p {
                font-size: 1.75rem;
            }

        }

}

/* styles for tablet devices */
@media (min-width: 768px) and (max-width: 991px) {
    /* styles for tablet devices */

    .destination .grid-container {

        & img {
            grid-area: image;
            max-width: 40%;
        }
    
    }

  }

/* styles for tablet and desktop devices */
@media (min-width: 768px) {
    /* styles for tablet devices */

    .destination .grid-container {

        & .numbered-title {
            justify-self: start;
            margin: 2rem 0;
        }

        & .destination-data {
            flex-direction: row;
            justify-content: space-evenly;
        }
    
    }

  }

 /* styles for desktop devices */
@media (min-width: 992px) {
    /* styles for desktop devices */

    .destination .grid-container {
        justify-items: start;
        grid-template-areas:
            '. title title .'
            '. image tabs .'
            '. image content .';
            
        & img {
            max-width: 90%;
        }

        & .destination-data {
            flex-direction: row;
            justify-content: flex-start;
            gap: 4rem;
        }

    }

  } 
  