*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

img, picture, svg {
    display: block;
    max-width: 100%;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;   
}

/* prevents from having to style the buttons individually */

input,
button,
textarea,
select {
    font: inherit;
}

/* screen reader only - REVIEW */
.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

/* -------------------------- */
/* THEME ONLY                 */
/* -------------------------- */

body {
    font-size: 1rem;
    font-weight: $fw-regular;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb($clr-accent);
    font-family: $ff-sans;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;

    & p {
        line-height: 1.8;
    }
}