@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

/*-------------------------*/
/* INDEX                   */
/* 1. VARIABLES            */
/* 2. UTILITY CLASSES      */
/* 3. MEDIA QUERIES        */
/*-------------------------*/

/*-------------------------*/
/* 1. VARIABLES            */
/*-------------------------*/

/* Font Styles */

$ff-serif: 'Bellefair', serif;
$ff-sans: 'Barlow', sans-serif;
$ff-sans-condensed: 'Barlow Condensed', sans-serif;

/* Font Weights */

$fw-regular: 400;
$fw-bold: 700;

/* Font Size */

$fs-base: 1rem; /* 16px */

/* ----------------------- */
/* 2. UTILITY CLASSES      */
/*-------------------------*/

/* Font Sizes */

.fs-900 {font-size: clamp(5rem, 8vw + 1rem, 9.375rem);}
.fs-800 {font-size: 3.5rem;}
.fs-700 {font-size: 1.5rem;}
.fs-600 {font-size: 1rem;}
.fs-500 {font-size: 1rem;}
.fs-400 {font-size: 0.9375rem;}
.fs-300 {font-size: 1rem;}
.fs-200 {font-size: 0.875rem;}
.p {font-size: 0.9375rem;}

/* Font Style */

.ff-serif { font-family: $ff-serif ;}
.ff-sans { font-family: $ff-sans; }
.ff-sans-condensed { font-family: $ff-sans-condensed; }

/* Font Weight */

.fw-regular { font-weight: $fw-regular; }
.fw-bold { font-weight: $fw-bold; }

/* Letter Spacing */

.letter-spacing-lg { letter-spacing: 4.75px; }
.letter-spacing-md { letter-spacing: 2.7px; }
.letter-spacing-sm { letter-spacing: 2.35px; }

/* Line Height */

.line-height-md { line-height: 1.1; }

/* Other styles */

.uppercase { text-transform: uppercase; }

.numbered-title {
    font-family: $ff-sans-condensed;
    font-size: 1rem;
    letter-spacing: 2.7px;
    text-transform: uppercase;

    & span {
        font-weight: $fw-bold;
        margin-right: .5rem;
    }
}

/*-------------------------*/
/* 3. MEDIA QUERIES        */
/*-------------------------*/

/* styles for mobile devices */
@media (max-width: 767px) {
  /* styles for mobile devices */

}

/* styles for tablet devices */
@media (min-width: 768px) {
  /* styles for tablet devices */

  .fs-800 { font-size: 5rem; }
  .fs-700 { font-size: 2.5rem; }
  .fs-600 { font-size: 1.5rem; }
  .fs-500 { font-size: 1.25rem; }
  .fs-400 { font-size: 1rem; }
  .p {font-size: 1rem;}

}

/* styles for desktop devices */
@media (min-width: 992px) {
  /* styles for desktop devices */

  .fs-800 { font-size: 6.25rem; }
  .fs-700 { font-size: 3.5rem; }
  .fs-600 { font-size: 2rem; }
  .fs-500 { font-size: 1.75rem; }
  .fs-400 { font-size: 1.125rem; }
  .p {font-size: 1rem;}

}