@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

img, picture, svg {
  display: block;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* prevents from having to style the buttons individually */
input,
button,
textarea,
select {
  font: inherit;
}

/* -------------------------- */
/* THEME ONLY                 */
/* -------------------------- */
body {
  padding-top: 40px;
}

/* Font Styles */
/* Font Sizes (Mobile First) */
/* 16px */
/* 12px */
/* 24px */
/* 56px */
/* 80px */
/* Font Weights */
/* TYPOGRAPHY STYLES */
body {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}

h1, h2, h3, h4, h6, .label-font-large {
  font-family: "Bellefair", serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2;
}

h5, .nav-text, .label-font-small {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: rgb(208, 214, 249);
}

h6 {
  font-size: 0.75rem;
}

p {
  font-size: 1rem;
  color: rgb(208, 214, 249);
  line-height: 1.6;
}

.label-font-large {
  font-size: 1rem;
  text-transform: uppercase;
}

.label-font-small {
  font-size: 0.75rem;
}

.nav-text {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.nav-text__prefix {
  font-weight: 900;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 600px) {
  /* 16px */
  /* 20px */
  /* 24px */
  /* 40px */
  /* 80px */
  /* 148px */
  h1 {
    font-size: 9.25rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1rem;
  }
  .label-font-large {
    font-size: 1.25rem;
  }
  .label-font-small {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  /* 12px */
  /* 28px */
  /* 32px */
  /* 56px */
  /* 100px */
  /* 148px */
  h1 {
    font-size: 9.25rem;
  }
  h2 {
    font-size: 6.25rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.75rem;
  }
  h6 {
    font-size: 0.75rem;
  }
  .label-font-large {
    font-size: 1.75rem;
  }
  .label-font-small {
    font-size: 0.75rem;
  }
}
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container {
  padding-inline: 2em; /* shorthand property used to set the padding on the left and right sides of an element's content area */
  margin-inline: auto; /* shorthand property used to set the margin on the left and right sides of an element. Because it's set to auto here, it will center the container in the page */
  max-width: 1100px;
  min-height: calc(100vh - 136px);
  margin: auto;
}

.round-button-large {
  background-color: rgb(255, 255, 255);
  border: 0px solid;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  letter-spacing: 0.2rem;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
  .round-button-large {
    width: 274px;
    height: 274px;
  }
}
.hamburguer {
  display: inline-block;
  background-color: transparent;
  border: 0px;
}

.site-header img {
  padding-inline: 1rem;
}
.site-header__divider {
  display: none;
}
.site-header__nav {
  display: none;
}

@media only screen and (min-width: 600px) {
  .site-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 96px;
  }
  .site-header__divider {
    min-width: 30%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    opacity: 0.25;
    margin-right: -40px;
  }
  .site-header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    width: 60%;
  }
  .site-header__nav ul {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: flex-end;
  }
}
.hamburguer {
  display: none;
}

body {
  background-image: url("../assets/home/background-home-mobile.jpg");
}

.home {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.home-container {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  row-gap: 4rem;
}
.home-container .column-left {
  flex-direction: column;
  min-width: 100%;
}
.home-container .column-right {
  min-width: 100%;
  justify-content: center;
}

@media only screen and (min-width: 992px) {
  body {
    background-image: url("../assets/home/background-home-desktop.jpg");
  }
  .home-container {
    align-items: center;
    text-align: left;
    justify-content: center;
    row-gap: 4rem;
  }
  .home-container .column-left {
    width: 50%;
    padding-right: 10%;
    flex-direction: column;
  }
  .home-container .column-right {
    width: 50%;
    justify-content: flex-end;
  }
}/*# sourceMappingURL=styles.css.map */