@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
* {
  box-sizing: border-box;
}

img, svg {
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  padding-top: 40px;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Font Styles */
/* Font Sizes (Mobile First) */
/* 16px */
/* 12px */
/* 24px */
/* 56px */
/* 80px */
/* Font Weights */
/* TYPOGRAPHY STYLES */
body {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}

h1, h2, h3, h4, h6, .label-font-large {
  font-family: "Bellefair", serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2;
  margin: 0;
}

h5, .nav-text, .label-font-small {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #d0d6f9;
}

h6 {
  font-size: 0.75rem;
}

p {
  font-size: 1rem;
  color: #d0d6f9;
  line-height: 1.6;
}

.label-font-large {
  font-size: 1rem;
  text-transform: uppercase;
}

.label-font-small {
  font-size: 0.75rem;
}

.nav-text {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.nav-text__prefix {
  font-weight: 900;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 600px) {
  /* 16px */
  /* 20px */
  /* 24px */
  /* 40px */
  /* 80px */
  /* 148px */
  h1 {
    font-size: 9.25rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1rem;
  }
  .label-font-large {
    font-size: 1.25rem;
  }
  .label-font-small {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  /* 12px */
  /* 28px */
  /* 32px */
  /* 56px */
  /* 100px */
  /* 148px */
  h1 {
    font-size: 9.25rem;
  }
  h2 {
    font-size: 6.25rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.75rem;
  }
  h6 {
    font-size: 0.75rem;
  }
  .label-font-large {
    font-size: 1.75rem;
  }
  .label-font-small {
    font-size: 0.75rem;
  }
}
.round-button-large {
  background-color: #fff;
  border: 0px solid;
  width: 274px;
  height: 274px;
  border-radius: 50%;
  letter-spacing: 0.2rem;
}

@media only screen and (min-width: 600px) {
  .site-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 96px;
  }
  .site-header img {
    max-height: 48px;
    margin-left: 40px;
    margin-right: 60px;
  }
  .site-header__divider {
    min-width: 30%;
    height: 1px;
    background-color: #fff;
    opacity: 0.25;
    margin-right: -40px;
  }
  .site-header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    width: 60%;
  }
  .site-header__nav ul {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: flex-end;
  }
}
.home {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

@media only screen and (min-width: 992px) {
  body {
    background-image: url("../assets/home/background-home-desktop.jpg");
  }
  .home-container {
    margin: auto;
    width: 1100px;
    height: calc(100vh - 136px);
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .home-container__column-left {
    width: 50%;
    padding-right: 10%;
  }
  .home-container__column-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
}/*# sourceMappingURL=styles.css.map */